body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:597px;
}
#u1648 {
  position:absolute;
  left:160px;
  top:1px;
  width:840px;
  height:596px;
}
#u1649 {
  position:absolute;
  left:2px;
  top:290px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:597px;
}
#u1651 {
  position:absolute;
  left:1px;
  top:1px;
  width:170px;
  height:596px;
}
#u1652 {
  position:absolute;
  left:2px;
  top:290px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1653 {
  position:absolute;
  left:7px;
  top:5px;
  width:168px;
  height:165px;
}
#u1653_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1654 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:20px;
}
#u1655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1655 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1655_img.selected {
}
#u1655.selected {
}
#u1656 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1657 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u1658 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u1659 {
  position:absolute;
  left:42px;
  top:0px;
  width:62px;
  height:20px;
}
#u1660 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u1654_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1661 {
  position:absolute;
  left:20px;
  top:20px;
  width:74px;
  height:20px;
}
#u1662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1662 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u1663 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u1664 {
  position:absolute;
  left:42px;
  top:0px;
  width:32px;
  height:20px;
}
#u1665 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u1666 {
  position:absolute;
  left:20px;
  top:40px;
  width:87px;
  height:20px;
}
#u1667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1667 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u1668 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
}
#u1669 {
  position:absolute;
  left:42px;
  top:0px;
  width:45px;
  height:20px;
}
#u1670 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u1671 {
  position:absolute;
  left:20px;
  top:60px;
  width:143px;
  height:20px;
}
#u1672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1672 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u1673 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:21px;
}
#u1674 {
  position:absolute;
  left:42px;
  top:0px;
  width:101px;
  height:20px;
}
#u1675 {
  position:absolute;
  left:3px;
  top:2px;
  width:96px;
  white-space:nowrap;
}
#u1676 {
  position:absolute;
  left:20px;
  top:80px;
  width:87px;
  height:20px;
}
#u1677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1677 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u1678 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
}
#u1679 {
  position:absolute;
  left:42px;
  top:0px;
  width:45px;
  height:20px;
}
#u1680 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u1681 {
  position:absolute;
  left:20px;
  top:100px;
  width:87px;
  height:20px;
}
#u1682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1682 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u1683 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
}
#u1684 {
  position:absolute;
  left:42px;
  top:0px;
  width:45px;
  height:20px;
}
#u1685 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u1686 {
  position:absolute;
  left:20px;
  top:120px;
  width:100px;
  height:20px;
}
#u1687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1687 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u1688 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u1689 {
  position:absolute;
  left:42px;
  top:0px;
  width:58px;
  height:20px;
}
#u1690 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1691 {
  position:absolute;
  left:20px;
  top:140px;
  width:139px;
  height:20px;
}
#u1692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1692 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u1693 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:21px;
}
#u1694 {
  position:absolute;
  left:42px;
  top:0px;
  width:97px;
  height:20px;
}
#u1695 {
  position:absolute;
  left:3px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u1696 {
  position:absolute;
  left:7px;
  top:174px;
  width:164px;
  height:105px;
}
#u1696_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1697 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
#u1698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1698 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1698_img.selected {
}
#u1698.selected {
}
#u1699 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1700 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u1701 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u1702 {
  position:absolute;
  left:42px;
  top:0px;
  width:32px;
  height:20px;
}
#u1703 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u1697_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1704 {
  position:absolute;
  left:20px;
  top:20px;
  width:139px;
  height:20px;
}
#u1705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1705 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u1706 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:21px;
}
#u1707 {
  position:absolute;
  left:42px;
  top:0px;
  width:97px;
  height:20px;
}
#u1708 {
  position:absolute;
  left:3px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u1709 {
  position:absolute;
  left:20px;
  top:40px;
  width:87px;
  height:20px;
}
#u1710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1710 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u1711 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
}
#u1712 {
  position:absolute;
  left:42px;
  top:0px;
  width:45px;
  height:20px;
}
#u1713 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u1714 {
  position:absolute;
  left:20px;
  top:60px;
  width:87px;
  height:20px;
}
#u1715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1715 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u1716 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
}
#u1717 {
  position:absolute;
  left:42px;
  top:0px;
  width:45px;
  height:20px;
}
#u1718 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u1719 {
  position:absolute;
  left:20px;
  top:80px;
  width:113px;
  height:20px;
}
#u1720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1720 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u1721 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u1722 {
  position:absolute;
  left:42px;
  top:0px;
  width:71px;
  height:20px;
}
#u1723 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u1724 {
  position:absolute;
  left:7px;
  top:433px;
  width:164px;
  height:165px;
}
#u1724_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1725 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1726 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1726_img.selected {
}
#u1726.selected {
}
#u1727 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1728 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u1729 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u1730 {
  position:absolute;
  left:42px;
  top:0px;
  width:58px;
  height:20px;
}
#u1731 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1725_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1732 {
  position:absolute;
  left:20px;
  top:20px;
  width:100px;
  height:20px;
}
#u1733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1733 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u1734 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u1735 {
  position:absolute;
  left:42px;
  top:0px;
  width:58px;
  height:20px;
}
#u1736 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1737 {
  position:absolute;
  left:20px;
  top:40px;
  width:126px;
  height:20px;
}
#u1738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1738 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u1739 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:21px;
}
#u1740 {
  position:absolute;
  left:42px;
  top:0px;
  width:84px;
  height:20px;
}
#u1741 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u1742 {
  position:absolute;
  left:20px;
  top:60px;
  width:139px;
  height:20px;
}
#u1743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1743 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u1744 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:21px;
}
#u1745 {
  position:absolute;
  left:42px;
  top:0px;
  width:97px;
  height:20px;
}
#u1746 {
  position:absolute;
  left:3px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u1747 {
  position:absolute;
  left:20px;
  top:80px;
  width:139px;
  height:20px;
}
#u1748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1748 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u1749 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:21px;
}
#u1750 {
  position:absolute;
  left:42px;
  top:0px;
  width:97px;
  height:20px;
}
#u1751 {
  position:absolute;
  left:3px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u1752 {
  position:absolute;
  left:20px;
  top:100px;
  width:100px;
  height:20px;
}
#u1753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1753 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u1754 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u1755 {
  position:absolute;
  left:42px;
  top:0px;
  width:58px;
  height:20px;
}
#u1756 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1757 {
  position:absolute;
  left:20px;
  top:120px;
  width:100px;
  height:20px;
}
#u1758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1758 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u1759 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u1760 {
  position:absolute;
  left:42px;
  top:0px;
  width:58px;
  height:20px;
}
#u1761 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1762 {
  position:absolute;
  left:20px;
  top:140px;
  width:74px;
  height:20px;
}
#u1763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1763 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u1764 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u1765 {
  position:absolute;
  left:42px;
  top:0px;
  width:32px;
  height:20px;
}
#u1766 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u1767 {
  position:absolute;
  left:7px;
  top:280px;
  width:125px;
  height:145px;
}
#u1767_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1768 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u1769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1769 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1769_img.selected {
}
#u1769.selected {
}
#u1770 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1771 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u1772 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u1773 {
  position:absolute;
  left:42px;
  top:0px;
  width:58px;
  height:20px;
}
#u1774 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1768_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1775 {
  position:absolute;
  left:20px;
  top:20px;
  width:100px;
  height:20px;
}
#u1776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1776 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u1777 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u1778 {
  position:absolute;
  left:42px;
  top:0px;
  width:58px;
  height:20px;
}
#u1779 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1780 {
  position:absolute;
  left:20px;
  top:40px;
  width:100px;
  height:20px;
}
#u1781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1781 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u1782 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u1783 {
  position:absolute;
  left:42px;
  top:0px;
  width:58px;
  height:20px;
}
#u1784 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1785 {
  position:absolute;
  left:20px;
  top:60px;
  width:100px;
  height:20px;
}
#u1786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1786 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u1787 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u1788 {
  position:absolute;
  left:42px;
  top:0px;
  width:58px;
  height:20px;
}
#u1789 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1790 {
  position:absolute;
  left:20px;
  top:80px;
  width:100px;
  height:20px;
}
#u1791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1791 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u1792 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u1793 {
  position:absolute;
  left:42px;
  top:0px;
  width:58px;
  height:20px;
}
#u1794 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1795 {
  position:absolute;
  left:20px;
  top:100px;
  width:87px;
  height:20px;
}
#u1796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1796 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u1797 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
}
#u1798 {
  position:absolute;
  left:42px;
  top:0px;
  width:45px;
  height:20px;
}
#u1799 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u1800 {
  position:absolute;
  left:20px;
  top:120px;
  width:74px;
  height:20px;
}
#u1801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1801 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u1802 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u1803 {
  position:absolute;
  left:42px;
  top:0px;
  width:32px;
  height:20px;
}
#u1804 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u1805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:513px;
}
#u1805 {
  position:absolute;
  left:191px;
  top:17px;
  width:776px;
  height:512px;
}
#u1806 {
  position:absolute;
  left:2px;
  top:248px;
  width:772px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:113px;
}
#u1807 {
  position:absolute;
  left:191px;
  top:17px;
  width:776px;
  height:112px;
}
#u1808 {
  position:absolute;
  left:2px;
  top:48px;
  width:772px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:25px;
}
#u1809 {
  position:absolute;
  left:494px;
  top:23px;
  width:170px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u1810 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u1811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u1811 {
  position:absolute;
  left:198px;
  top:52px;
  width:83px;
  height:16px;
}
#u1812 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u1813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u1813 {
  position:absolute;
  left:198px;
  top:92px;
  width:83px;
  height:16px;
}
#u1814 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u1815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u1815 {
  position:absolute;
  left:562px;
  top:96px;
  width:120px;
  height:16px;
}
#u1816 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u1817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
}
#u1817 {
  position:absolute;
  left:826px;
  top:96px;
  width:117px;
  height:16px;
}
#u1818 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u1819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:17px;
}
#u1819 {
  position:absolute;
  left:796px;
  top:21px;
  width:158px;
  height:16px;
}
#u1820 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u1821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:17px;
}
#u1821 {
  position:absolute;
  left:796px;
  top:56px;
  width:158px;
  height:16px;
}
#u1822 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u1823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
}
#u1823 {
  position:absolute;
  left:191px;
  top:129px;
  width:78px;
  height:25px;
}
#u1824 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u1825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
}
#u1825 {
  position:absolute;
  left:269px;
  top:129px;
  width:199px;
  height:25px;
}
#u1826 {
  position:absolute;
  left:2px;
  top:4px;
  width:195px;
  word-wrap:break-word;
}
#u1827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
}
#u1827 {
  position:absolute;
  left:467px;
  top:129px;
  width:108px;
  height:25px;
}
#u1828 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u1829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
}
#u1829 {
  position:absolute;
  left:575px;
  top:129px;
  width:108px;
  height:25px;
}
#u1830 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u1831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:26px;
}
#u1831 {
  position:absolute;
  left:681px;
  top:129px;
  width:43px;
  height:25px;
}
#u1832 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u1833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:26px;
}
#u1833 {
  position:absolute;
  left:724px;
  top:129px;
  width:41px;
  height:25px;
}
#u1834 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  word-wrap:break-word;
}
#u1835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:26px;
}
#u1835 {
  position:absolute;
  left:765px;
  top:129px;
  width:98px;
  height:25px;
}
#u1836 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u1837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:26px;
}
#u1837 {
  position:absolute;
  left:863px;
  top:129px;
  width:104px;
  height:25px;
}
#u1838 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u1839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
}
#u1839 {
  position:absolute;
  left:191px;
  top:154px;
  width:78px;
  height:25px;
}
#u1840 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u1841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
}
#u1841 {
  position:absolute;
  left:269px;
  top:154px;
  width:199px;
  height:25px;
}
#u1842 {
  position:absolute;
  left:2px;
  top:4px;
  width:195px;
  word-wrap:break-word;
}
#u1843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
}
#u1843 {
  position:absolute;
  left:467px;
  top:154px;
  width:108px;
  height:25px;
}
#u1844 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u1845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
}
#u1845 {
  position:absolute;
  left:575px;
  top:154px;
  width:108px;
  height:25px;
}
#u1846 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u1847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:26px;
}
#u1847 {
  position:absolute;
  left:681px;
  top:154px;
  width:43px;
  height:25px;
}
#u1848 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u1849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:26px;
}
#u1849 {
  position:absolute;
  left:724px;
  top:154px;
  width:41px;
  height:25px;
}
#u1850 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  word-wrap:break-word;
}
#u1851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:26px;
}
#u1851 {
  position:absolute;
  left:765px;
  top:154px;
  width:98px;
  height:25px;
}
#u1852 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u1853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:26px;
}
#u1853 {
  position:absolute;
  left:863px;
  top:154px;
  width:104px;
  height:25px;
}
#u1854 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u1855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
}
#u1855 {
  position:absolute;
  left:191px;
  top:179px;
  width:78px;
  height:25px;
}
#u1856 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u1857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
}
#u1857 {
  position:absolute;
  left:269px;
  top:179px;
  width:199px;
  height:25px;
}
#u1858 {
  position:absolute;
  left:2px;
  top:4px;
  width:195px;
  word-wrap:break-word;
}
#u1859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
}
#u1859 {
  position:absolute;
  left:467px;
  top:179px;
  width:108px;
  height:25px;
}
#u1860 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u1861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
}
#u1861 {
  position:absolute;
  left:575px;
  top:179px;
  width:108px;
  height:25px;
}
#u1862 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u1863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:26px;
}
#u1863 {
  position:absolute;
  left:681px;
  top:179px;
  width:43px;
  height:25px;
}
#u1864 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u1865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:26px;
}
#u1865 {
  position:absolute;
  left:724px;
  top:179px;
  width:41px;
  height:25px;
}
#u1866 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  word-wrap:break-word;
}
#u1867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:26px;
}
#u1867 {
  position:absolute;
  left:765px;
  top:179px;
  width:98px;
  height:25px;
}
#u1868 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u1869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:26px;
}
#u1869 {
  position:absolute;
  left:863px;
  top:179px;
  width:104px;
  height:25px;
}
#u1870 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u1871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
}
#u1871 {
  position:absolute;
  left:191px;
  top:204px;
  width:78px;
  height:25px;
}
#u1872 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u1873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
}
#u1873 {
  position:absolute;
  left:269px;
  top:204px;
  width:199px;
  height:25px;
}
#u1874 {
  position:absolute;
  left:2px;
  top:4px;
  width:195px;
  word-wrap:break-word;
}
#u1875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
}
#u1875 {
  position:absolute;
  left:467px;
  top:204px;
  width:108px;
  height:25px;
}
#u1876 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u1877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
}
#u1877 {
  position:absolute;
  left:575px;
  top:204px;
  width:108px;
  height:25px;
}
#u1878 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u1879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:26px;
}
#u1879 {
  position:absolute;
  left:681px;
  top:204px;
  width:43px;
  height:25px;
}
#u1880 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u1881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:26px;
}
#u1881 {
  position:absolute;
  left:724px;
  top:204px;
  width:41px;
  height:25px;
}
#u1882 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  word-wrap:break-word;
}
#u1883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:26px;
}
#u1883 {
  position:absolute;
  left:765px;
  top:204px;
  width:98px;
  height:25px;
}
#u1884 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u1885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:26px;
}
#u1885 {
  position:absolute;
  left:863px;
  top:204px;
  width:104px;
  height:25px;
}
#u1886 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u1887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
}
#u1887 {
  position:absolute;
  left:191px;
  top:229px;
  width:78px;
  height:25px;
}
#u1888 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u1889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
}
#u1889 {
  position:absolute;
  left:269px;
  top:229px;
  width:199px;
  height:25px;
}
#u1890 {
  position:absolute;
  left:2px;
  top:4px;
  width:195px;
  word-wrap:break-word;
}
#u1891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
}
#u1891 {
  position:absolute;
  left:467px;
  top:229px;
  width:108px;
  height:25px;
}
#u1892 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u1893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
}
#u1893 {
  position:absolute;
  left:575px;
  top:229px;
  width:108px;
  height:25px;
}
#u1894 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u1895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:26px;
}
#u1895 {
  position:absolute;
  left:681px;
  top:229px;
  width:43px;
  height:25px;
}
#u1896 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u1897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:26px;
}
#u1897 {
  position:absolute;
  left:724px;
  top:229px;
  width:41px;
  height:25px;
}
#u1898 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  word-wrap:break-word;
}
#u1899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:26px;
}
#u1899 {
  position:absolute;
  left:765px;
  top:229px;
  width:98px;
  height:25px;
}
#u1900 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u1901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:26px;
}
#u1901 {
  position:absolute;
  left:863px;
  top:229px;
  width:104px;
  height:25px;
}
#u1902 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u1903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
}
#u1903 {
  position:absolute;
  left:191px;
  top:254px;
  width:78px;
  height:25px;
}
#u1904 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u1905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
}
#u1905 {
  position:absolute;
  left:269px;
  top:254px;
  width:199px;
  height:25px;
}
#u1906 {
  position:absolute;
  left:2px;
  top:4px;
  width:195px;
  word-wrap:break-word;
}
#u1907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
}
#u1907 {
  position:absolute;
  left:467px;
  top:254px;
  width:108px;
  height:25px;
}
#u1908 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u1909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
}
#u1909 {
  position:absolute;
  left:575px;
  top:254px;
  width:108px;
  height:25px;
}
#u1910 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u1911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:26px;
}
#u1911 {
  position:absolute;
  left:681px;
  top:254px;
  width:43px;
  height:25px;
}
#u1912 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u1913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:26px;
}
#u1913 {
  position:absolute;
  left:724px;
  top:254px;
  width:41px;
  height:25px;
}
#u1914 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  word-wrap:break-word;
}
#u1915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:26px;
}
#u1915 {
  position:absolute;
  left:765px;
  top:254px;
  width:98px;
  height:25px;
}
#u1916 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u1917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:26px;
}
#u1917 {
  position:absolute;
  left:863px;
  top:254px;
  width:104px;
  height:25px;
}
#u1918 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u1919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
}
#u1919 {
  position:absolute;
  left:191px;
  top:279px;
  width:78px;
  height:25px;
}
#u1920 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u1921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
}
#u1921 {
  position:absolute;
  left:269px;
  top:279px;
  width:199px;
  height:25px;
}
#u1922 {
  position:absolute;
  left:2px;
  top:4px;
  width:195px;
  word-wrap:break-word;
}
#u1923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
}
#u1923 {
  position:absolute;
  left:467px;
  top:279px;
  width:108px;
  height:25px;
}
#u1924 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u1925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
}
#u1925 {
  position:absolute;
  left:575px;
  top:279px;
  width:108px;
  height:25px;
}
#u1926 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u1927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:26px;
}
#u1927 {
  position:absolute;
  left:681px;
  top:279px;
  width:43px;
  height:25px;
}
#u1928 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u1929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:26px;
}
#u1929 {
  position:absolute;
  left:724px;
  top:279px;
  width:41px;
  height:25px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  word-wrap:break-word;
}
#u1931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:26px;
}
#u1931 {
  position:absolute;
  left:765px;
  top:279px;
  width:98px;
  height:25px;
}
#u1932 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:26px;
}
#u1933 {
  position:absolute;
  left:863px;
  top:279px;
  width:104px;
  height:25px;
}
#u1934 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u1935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
}
#u1935 {
  position:absolute;
  left:191px;
  top:304px;
  width:78px;
  height:25px;
}
#u1936 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u1937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
}
#u1937 {
  position:absolute;
  left:269px;
  top:304px;
  width:199px;
  height:25px;
}
#u1938 {
  position:absolute;
  left:2px;
  top:4px;
  width:195px;
  word-wrap:break-word;
}
#u1939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
}
#u1939 {
  position:absolute;
  left:467px;
  top:304px;
  width:108px;
  height:25px;
}
#u1940 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
}
#u1941 {
  position:absolute;
  left:575px;
  top:304px;
  width:108px;
  height:25px;
}
#u1942 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:26px;
}
#u1943 {
  position:absolute;
  left:681px;
  top:304px;
  width:43px;
  height:25px;
}
#u1944 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:26px;
}
#u1945 {
  position:absolute;
  left:724px;
  top:304px;
  width:41px;
  height:25px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  word-wrap:break-word;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:26px;
}
#u1947 {
  position:absolute;
  left:765px;
  top:304px;
  width:98px;
  height:25px;
}
#u1948 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u1949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:26px;
}
#u1949 {
  position:absolute;
  left:863px;
  top:304px;
  width:104px;
  height:25px;
}
#u1950 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u1951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
}
#u1951 {
  position:absolute;
  left:191px;
  top:329px;
  width:78px;
  height:25px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u1953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
}
#u1953 {
  position:absolute;
  left:269px;
  top:329px;
  width:199px;
  height:25px;
}
#u1954 {
  position:absolute;
  left:2px;
  top:4px;
  width:195px;
  word-wrap:break-word;
}
#u1955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
}
#u1955 {
  position:absolute;
  left:467px;
  top:329px;
  width:108px;
  height:25px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u1957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
}
#u1957 {
  position:absolute;
  left:575px;
  top:329px;
  width:108px;
  height:25px;
}
#u1958 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u1959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:26px;
}
#u1959 {
  position:absolute;
  left:681px;
  top:329px;
  width:43px;
  height:25px;
}
#u1960 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:26px;
}
#u1961 {
  position:absolute;
  left:724px;
  top:329px;
  width:41px;
  height:25px;
}
#u1962 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  word-wrap:break-word;
}
#u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:26px;
}
#u1963 {
  position:absolute;
  left:765px;
  top:329px;
  width:98px;
  height:25px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:26px;
}
#u1965 {
  position:absolute;
  left:863px;
  top:329px;
  width:104px;
  height:25px;
}
#u1966 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
}
#u1967 {
  position:absolute;
  left:191px;
  top:354px;
  width:78px;
  height:25px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
}
#u1969 {
  position:absolute;
  left:269px;
  top:354px;
  width:199px;
  height:25px;
}
#u1970 {
  position:absolute;
  left:2px;
  top:4px;
  width:195px;
  word-wrap:break-word;
}
#u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
}
#u1971 {
  position:absolute;
  left:467px;
  top:354px;
  width:108px;
  height:25px;
}
#u1972 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
}
#u1973 {
  position:absolute;
  left:575px;
  top:354px;
  width:108px;
  height:25px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:26px;
}
#u1975 {
  position:absolute;
  left:681px;
  top:354px;
  width:43px;
  height:25px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:26px;
}
#u1977 {
  position:absolute;
  left:724px;
  top:354px;
  width:41px;
  height:25px;
}
#u1978 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  word-wrap:break-word;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:26px;
}
#u1979 {
  position:absolute;
  left:765px;
  top:354px;
  width:98px;
  height:25px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:26px;
}
#u1981 {
  position:absolute;
  left:863px;
  top:354px;
  width:104px;
  height:25px;
}
#u1982 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
}
#u1983 {
  position:absolute;
  left:191px;
  top:379px;
  width:78px;
  height:25px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
}
#u1985 {
  position:absolute;
  left:269px;
  top:379px;
  width:199px;
  height:25px;
}
#u1986 {
  position:absolute;
  left:2px;
  top:4px;
  width:195px;
  word-wrap:break-word;
}
#u1987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
}
#u1987 {
  position:absolute;
  left:467px;
  top:379px;
  width:108px;
  height:25px;
}
#u1988 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
}
#u1989 {
  position:absolute;
  left:575px;
  top:379px;
  width:108px;
  height:25px;
}
#u1990 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u1991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:26px;
}
#u1991 {
  position:absolute;
  left:681px;
  top:379px;
  width:43px;
  height:25px;
}
#u1992 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u1993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:26px;
}
#u1993 {
  position:absolute;
  left:724px;
  top:379px;
  width:41px;
  height:25px;
}
#u1994 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  word-wrap:break-word;
}
#u1995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:26px;
}
#u1995 {
  position:absolute;
  left:765px;
  top:379px;
  width:98px;
  height:25px;
}
#u1996 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u1997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:26px;
}
#u1997 {
  position:absolute;
  left:863px;
  top:379px;
  width:104px;
  height:25px;
}
#u1998 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u1999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
}
#u1999 {
  position:absolute;
  left:191px;
  top:404px;
  width:78px;
  height:25px;
}
#u2000 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
}
#u2001 {
  position:absolute;
  left:269px;
  top:404px;
  width:199px;
  height:25px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:4px;
  width:195px;
  word-wrap:break-word;
}
#u2003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
}
#u2003 {
  position:absolute;
  left:467px;
  top:404px;
  width:108px;
  height:25px;
}
#u2004 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u2005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
}
#u2005 {
  position:absolute;
  left:575px;
  top:404px;
  width:108px;
  height:25px;
}
#u2006 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:26px;
}
#u2007 {
  position:absolute;
  left:681px;
  top:404px;
  width:43px;
  height:25px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:26px;
}
#u2009 {
  position:absolute;
  left:724px;
  top:404px;
  width:41px;
  height:25px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  word-wrap:break-word;
}
#u2011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:26px;
}
#u2011 {
  position:absolute;
  left:765px;
  top:404px;
  width:98px;
  height:25px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u2013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:26px;
}
#u2013 {
  position:absolute;
  left:863px;
  top:404px;
  width:104px;
  height:25px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u2015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
}
#u2015 {
  position:absolute;
  left:191px;
  top:429px;
  width:78px;
  height:25px;
}
#u2016 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u2017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
}
#u2017 {
  position:absolute;
  left:269px;
  top:429px;
  width:199px;
  height:25px;
}
#u2018 {
  position:absolute;
  left:2px;
  top:4px;
  width:195px;
  word-wrap:break-word;
}
#u2019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
}
#u2019 {
  position:absolute;
  left:467px;
  top:429px;
  width:108px;
  height:25px;
}
#u2020 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u2021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
}
#u2021 {
  position:absolute;
  left:575px;
  top:429px;
  width:108px;
  height:25px;
}
#u2022 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u2023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:26px;
}
#u2023 {
  position:absolute;
  left:681px;
  top:429px;
  width:43px;
  height:25px;
}
#u2024 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u2025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:26px;
}
#u2025 {
  position:absolute;
  left:724px;
  top:429px;
  width:41px;
  height:25px;
}
#u2026 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  word-wrap:break-word;
}
#u2027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:26px;
}
#u2027 {
  position:absolute;
  left:765px;
  top:429px;
  width:98px;
  height:25px;
}
#u2028 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u2029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:26px;
}
#u2029 {
  position:absolute;
  left:863px;
  top:429px;
  width:104px;
  height:25px;
}
#u2030 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u2031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
}
#u2031 {
  position:absolute;
  left:191px;
  top:454px;
  width:78px;
  height:25px;
}
#u2032 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u2033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
}
#u2033 {
  position:absolute;
  left:269px;
  top:454px;
  width:199px;
  height:25px;
}
#u2034 {
  position:absolute;
  left:2px;
  top:4px;
  width:195px;
  word-wrap:break-word;
}
#u2035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
}
#u2035 {
  position:absolute;
  left:467px;
  top:454px;
  width:108px;
  height:25px;
}
#u2036 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u2037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
}
#u2037 {
  position:absolute;
  left:575px;
  top:454px;
  width:108px;
  height:25px;
}
#u2038 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u2039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:26px;
}
#u2039 {
  position:absolute;
  left:681px;
  top:454px;
  width:43px;
  height:25px;
}
#u2040 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u2041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:26px;
}
#u2041 {
  position:absolute;
  left:724px;
  top:454px;
  width:41px;
  height:25px;
}
#u2042 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  word-wrap:break-word;
}
#u2043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:26px;
}
#u2043 {
  position:absolute;
  left:765px;
  top:454px;
  width:98px;
  height:25px;
}
#u2044 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u2045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:26px;
}
#u2045 {
  position:absolute;
  left:863px;
  top:454px;
  width:104px;
  height:25px;
}
#u2046 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u2047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:26px;
}
#u2047 {
  position:absolute;
  left:191px;
  top:479px;
  width:384px;
  height:25px;
  text-align:left;
}
#u2048 {
  position:absolute;
  left:2px;
  top:4px;
  width:380px;
  word-wrap:break-word;
}
#u2049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:26px;
}
#u2049 {
  position:absolute;
  left:575px;
  top:479px;
  width:392px;
  height:25px;
  text-align:left;
}
#u2050 {
  position:absolute;
  left:2px;
  top:4px;
  width:388px;
  word-wrap:break-word;
}
#u2051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:26px;
}
#u2051 {
  position:absolute;
  left:191px;
  top:504px;
  width:384px;
  height:25px;
  text-align:left;
}
#u2052 {
  position:absolute;
  left:2px;
  top:4px;
  width:380px;
  word-wrap:break-word;
}
#u2053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:26px;
}
#u2053 {
  position:absolute;
  left:575px;
  top:504px;
  width:392px;
  height:25px;
  text-align:left;
}
#u2054 {
  position:absolute;
  left:2px;
  top:4px;
  width:388px;
  word-wrap:break-word;
}
#u2055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:17px;
}
#u2055 {
  position:absolute;
  left:280px;
  top:52px;
  width:170px;
  height:16px;
}
#u2056 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u2057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:17px;
}
#u2057 {
  position:absolute;
  left:255px;
  top:92px;
  width:170px;
  height:16px;
}
#u2058 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u2059 {
  position:absolute;
  left:864px;
  top:565px;
  width:109px;
  height:25px;
}
#u2059_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2059_input {
  font-family:'应用字体';
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:34px;
}
#u2060 {
  position:absolute;
  left:191px;
  top:529px;
  width:776px;
  height:33px;
  text-align:left;
}
#u2061 {
  position:absolute;
  left:2px;
  top:8px;
  width:772px;
  word-wrap:break-word;
}
